@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Poppins:400');

html {
  font-size: 100%;
  box-sizing: content-box;
} /*16px*/

body {
  background: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  box-sizing: border-box;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  height: 100%;
  width: 100% !important;
  max-height: 150px !important;
  max-width: 105px;
}

.contenedor {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  max-width: 1080px;
}
.titulos {
  transform: translateY(-35%);
  background-color: #fa93c7;
  color: white;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

form {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

footer {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #fa93c7;
  text-align: center;
}
